pip==21.1
cython>=0.28
numpy>=1.7.0
#prompt_toolkit==1.0.4
nbsphinx
natsort
sphinxcontrib-napoleon
matplotlib
notebook
jinja2
nbconvert
pyparsing
sphinx-autoapi
autoapi
sphinx
sphinx_rtd_theme
scikit-learn
numpydoc
pickle
pandas
scipy
multiprocessing
re
tqdm
pymbar>=4.0.1
mdtraj
#mdtraj==1.9.3


