# These are for RTD
sphinx
nbsphinx
sphinx_rtd_theme
sphinx-autoapi
autoapi
recommonmark
numpydoc
notebook
nbsphinx
sphinxcontrib-napoleon
jinja2
nbconvert
pyparsing



# These are for PyPI
cython>=0.28
numpy>=1.7.0
natsort
matplotlib
scikit-learn
pandas
scipy
tqdm
pymbar>=4.0.1
mdtraj


