pip==21.1
cython>=0.28
numpy>=1.7.0
#prompt_toolkit==1.0.4
nbsphinx
sphinxcontrib-napoleon
matplotlib
notebook
jinja2
nbconvert
pyparsing
sphinx-autoapi
autoapi
sphinx
sphinx_rtd_theme
scikit-learn
numpydoc
tqdm
pymbar==3.0.3
mdtraj
#mdtraj==1.9.3


