cython==0.19
numpy
sphinx>=1.4
ipykernel
nbsphinx
numpydoc
matplotlib
jupyter
notebook
jinja2
nbconvert
pyparsing
sphinx-autoapi
autoapi
sphinx
sphinx_rtd_theme
matplotlib
jupyter
jinja2
runipy
openmm
pytables
scikit-learn
pytest
pandas
numpydoc
pymbar
mdtraj==1.8.0
