cython==0.19
numpy
ipykernel
nbsphinx
matplotlib
jupyter
notebook
jinja2
nbconvert
pyparsing
sphinx-autoapi
autoapi
sphinx
sphinx_rtd_theme
runipy
openmm
pytables
scikit-learn
pytest
pandas
numpydoc
pymbar
mdtraj==1.8.0
